*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	/* font-family: 'Poppins', sans-serif; */
}

.leaderboard {
	font-family: 'Poppins', sans-serif;
	position: relative;
	width: 100%;
	height: 100%;
	padding: 20px;
	border-radius: 10px;
	display: flex;
	align-items: center;
	flex-direction: column;
}

.leader-list {
	width: 100%;
	padding: 10px; 
	overflow-y: auto;
	transition: opacity 1s;
}

.leaderboard ul {
	display: flex;
	flex-direction: column;
	width: 100%;
}

.leaderboard li {
	width: 100%;
	height: 70px;
	background-color: #1E1E1E;
	margin-top: 10px;
	padding: 5px;
	padding-right: 15px;
	padding-left: 15px;

	border-radius: 10px;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.leaderboard .img-area{
	height: 60px;
	width: 60px;
	border-radius: 50%;
	display: flex;
	align-items: center;
	justify-content: center;
}

.img-area .inner-area{
	height: calc(100% - 10px);
	width: calc(100% - 10px);
	border-radius: 50%;
}

.img-area .inner-area img{
	height: 100%;
	width: 100%;
	border-radius: 50%;
	object-fit: cover;
}

.leader-info  {
	display: flex;
	flex-direction: column;
	justify-content: center;
	user-select: none;
}

.leader-info .username {
	display: flex;
	flex-direction: column;
	justify-content: center;
	user-select: none;
	font-size: 25px;
	color: #ffffff;
}

.score {
	font-size: 12px;
	color: #cfcfcf;
}

.win {
	font-size: 12px;
	color: rgb(145, 238, 122);
	display: inline-block;
}

.loose {
	font-size: 12px;
	color: rgb(238, 122, 122);
	display: inline-block;
}

.leaderboard h2 {
	height: 40px;
	user-select: none;
}

::-webkit-scrollbar {
    display: none;
}